APP_ENV=development
DEBUG=True
LOG_FILE_PATH=.
LOG_FILE_NAME=app.log

DB_HOST=localhost
DB_PORT=5444
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/home-budget
ALEMBIC_DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/home-budget

jwt_algorithm=HS256
jwt_expiration_hours=24
JWT_SECRET_KEY=7KmQ9vR2nP5xW8jL4hF6tY3bN0zC1aS9dE7gV5mU2iO8pA6qT4wX1rY3eZ0uK7n


